


header{
    .background{
        width: 46%;
        height: 400px;
        border-radius: 0 0 0 50px;
        float:right;
        background-color: $color4;
    }
    
    nav{
        position: absolute;
        top: 5%;
        left: 5%;
        right: 5%;
        .logo{
            float: left;
            padding-left: 11%;
        }
       
        .open, .close{
            float: right;
            display: none;
        }
        #checkbox{
            
            visibility: hidden;
            z-index: -11;
        }
        .menu{
            float: right;
            width: 40%;           
            &__item{ 
                display: inline-block;
                font-family: $secondaryfont;
                font-weight: 700;
                list-style-type: none;
                color: $color1;
                padding: 0 5%;

                hr{
                    width: 5px;
                    height: 5px;
                    border: none;
                    border-radius: 50%;
                    background-color: $color2;
                    position: relative;
                    top: 0;
                }
            }
            &__link{
                text-decoration: none;
                color:$color1;
                &:hover{
                    text-decoration: underline;    
                }
                &--color{
                    color:$color2;
                }  
            }      
        }
    
    }
    
    

}
@media screen and (max-width:376px){
    header{
       
        nav{
            .logo{
                padding-left: 0;
            }
            .open, .close{
                display:block;
            }
            .close{
                visibility: hidden;
            }
            .menu{
                z-index: 2;
                display: none;
                position: absolute;
                top: 50px;
                width: 300px;
                height: 220px;
                background-color: white;
                padding: 5px;
                box-shadow: 0px 3px 8px  rgba(128, 124, 124, 0.253);
                &__item{
                    display: block;
                    padding: 10px 0;
                    text-align: center;
                    hr{
                        width: 80%;
                        margin: 0 auto;
                        height: 1px;
    
                    }
                }
               
                
                   
            } 
            #checkbox:checked~.menu {
                display: block;
            } 
            #checkbox:checked~.open {
                visibility: hidden;
            }  
            #checkbox:checked~.close {
                visibility: visible;
            }  
            
            
    
    
        }
        
            
            
        
    }

}

