
header{
    position:fixed;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    nav{
        width: 46%;
        height: 400px;
        border-radius: 0 0 0 50px;
        float:right;
        background-color: $color4;
        .burger{display: none;}
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            &__item{ 
                display: inline-block;
                font-family: $secondaryfont;
                font-weight: 700;
                list-style-type: none;
                color: $color1;
                padding: 5% 3%;

                hr{
                    width: 5px;
                    height: 5px;
                    border: none;
                    border-radius: 50%;
                    background-color: $color2;
                    position: relative;
                    top: 15px;
                }
            }
            &__link{
                text-decoration: none;
                color:$color1;
                &:hover{
                    text-decoration: underline;    
                }
                &--color{
                    color:$color2;
                }  
            }      
        }
    
    }
    .logo{
        width: 50%;
        height: 350px;
        padding-left: 15%;
        img{
            float: left;
            padding :5% 0;

        }
    }

}
@media screen and (max-width:376px){
    header{
        .logo{
            padding:0;
            img{width: 12%;padding: 15%;} 
        }
        nav{
            .menu{display: none;}   
            .burger{
                display: block;
                float: right;
                padding:15% ;
            }


        }
        
    }
}

