$color1:hsl(230, 29%, 20%);
$color2:hsl(231, 7%, 65%);
$color3:hsl(230, 11%, 40%);
$color4:hsl(207, 33%, 95%);
$primarycolor:hsl(0, 100%, 68%);
$primaryfont: Barlow;
$secondaryfont:Barlow Condensed;

*{
    padding:0;
    margin: 0;
}     

body{
    font-family: $primaryfont;
    font-variant-caps: all-petite-caps;
    font-size: 1.5em;

}