* {
  padding: 0;
  margin: 0; }

body {
  font-family: Barlow;
  font-variant-caps: all-petite-caps;
  font-size: 1.5em; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  header nav {
    width: 46%;
    height: 400px;
    border-radius: 0 0 0 50px;
    float: right;
    background-color: #eef3f6; }
    header nav .menu {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      header nav .menu__item {
        display: inline-block;
        font-family: Barlow Condensed;
        font-weight: 700;
        list-style-type: none;
        color: #242942;
        padding: 5% 3%; }
        header nav .menu__item hr {
          width: 5px;
          height: 5px;
          border: none;
          border-radius: 50%;
          background-color: #a0a1ac;
          position: relative;
          top: 15px; }
      header nav .menu__link {
        text-decoration: none;
        color: #242942; }
        header nav .menu__link:hover {
          text-decoration: underline; }
        header nav .menu__link--color {
          color: #a0a1ac; }
  header .logo {
    width: 50%;
    height: 350px;
    padding-left: 15%; }
    header .logo img {
      float: left;
      padding: 5% 0; }

section {
  position: fixed;
  top: 185px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse; }
  section .info {
    display: block;
    width: 50%;
    color: #a0a1ac;
    padding: 2% 0 0 15%; }
    section .info span {
      background-color: #242942;
      color: #eef3f6;
      border-radius: 20px;
      padding: 0 10px 6px 10px;
      margin-right: 2%; }
    section .info__para1 {
      color: #242942;
      font-family: Barlow Condensed;
      font-size: 3em;
      font-weight: bolder;
      line-height: .8;
      margin: 5% 0; }
    section .info__para2 {
      font-weight: bolder;
      margin: 5% 0;
      font-variant-caps: initial; }
    section .info__button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 15%; }
      section .info__button button {
        display: inline-block;
        font-family: Barlow Condensed;
        font-size: 1em;
        font-weight: 400;
        font-variant-caps: all-petite-caps;
        background-color: #ff5c5c;
        color: #eef3f6;
        border: none;
        border-radius: 5px;
        padding: 1% 5% 2% 5%;
        margin-top: -6px; }
        section .info__button button:hover {
          background-color: rgba(255, 92, 92, 0.616); }
      section .info__button p {
        display: inline-block;
        margin-left: 2%; }
  section .board {
    display: block;
    width: 50%; }
    section .board img {
      padding-left: 10%; }

@media screen and (min-width: 375px) {
  section {
    flex-wrap: nowrap; } }

@media screen and (max-width: 375px) {
  .board img {
    padding: 0;
    width: 180%; } }
